{{> head}}
{{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Vector cerebro</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat obcaecati hic ipsum molestiae, quidem sit illo nam quasi minima ex quae suscipit harum sed velit, praesentium quam? Reprehenderit, numquam!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/vector.png" class="img-thumbnail">
        </div>

    </div>

{{> footer}}